apiVersion : apps/v1beta1
kind: Deployment
metadata:
  name: my-gateway 
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: my-gateway 
    spec:
      containers:
        - name: my-gateway 
          image: ccteam4acr.azurecr.io/my-gateway
          ports:
          - containerPort: 8080
